@model KriclickWebApp.Models.AddPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
}



<style>
    .field {
        color: red;
    }
</style>



<div id="body-panel" class="body-panel">
    <!-- Start Body Panel -->
    <div class="recovery-page-wrap">
        <div class="title-text">
            <h3 class="u-case text-center">Create Your New Password</h3>
            <span class="block text-center">Your password must be 6 - 12 charaters in length.</span>
        </div>
        @using (Html.BeginForm("CreatePassword", "Account", FormMethod.Post, new { @class = "recovery-form", role = "form" }))
        {
            <div class="row">
                <div class="col-md-24 col-sm-24 col-xs-24">

                    <input type="hidden" name="UserId" value="@ViewBag.UserId" />
                    <input type="hidden" name="code" value="@ViewBag.code" />

                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Type You new password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "field" })
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm your new password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)<button type="submit" value="Create">confirm password</button>

                </div>

            </div>
        }
    </div>
</div><!-- End Body Panel -->
@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
